.app001 {
  min-height: calc(100vh - 49px);
}

.jumbotron {
  background-color: var(--bg-light-grey);
  border: 1px white solid;
  width: 80%;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
